
:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #E7DFD5;
   --cor-main: white;
   --cor--botoes: #38cfca;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
}
.sobre__mim, .formacao, .hobbies, .contato, .projetos{
    display: none;
   
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*HEADER*/
.cabecalho{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    background-color: var(--cor--botoes);
}
.email{
    background-color: var(--cor--botoes);
    height: 20px;
    justify-content: center;
    border: none;
}
.header__menu{
    background-color: var(--cor--botoes);
    display: flex;
    background-color: var(--cor--botoes);
    width: 100%;
    height: 30px;
    justify-content: center;
    gap: 5px;
}
.btn{
    justify-content: center;
    height: 20px;
    background-color: black;
    color: white;
}

/*MAIN*/
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__botoes{
    display: none;
}
.main__conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}


/*Sessão home*/
.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 400px;
}
.home__bemvindo{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: start;
}

.home__bemvindo--links{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 15px;
}
.p__bemvindo{
    background-color: var(--cor--botoes);
    border-radius: 1.5rem;
    height: 20px;
    width: 70px;
    align-items: center;
    color: black;
}
.conteudo__imagem{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


/*Sessão Hobbies*/



/* FORMAÇÃO ACADEMICA*/
.formacao{
    height: 100%;
}
.formacao__container{
    width: 100%;
    height: 100%;
    gap: 20px;
}
.formacao__container__logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.logos__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 300px;
}
.formacao__logos{
    width: 200px;
    height: 200px;
}
.strong__logo{
    width: 200px;
    height: 32px;
}



/* experiência*/



/*Contato*/



/*FOOTER*/
.rodape{
    width: 100%;
    height: 100px;
    position:fixed;
    bottom: 0;
    text-align: center;
    background-color: var(--cor--botoes);
}


/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}